body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /*background-image: url('"C:\Users\AHALYA\OneDrive\Documents\5b4\portfolio\background.jpg"'); Replace 'background.jpg' with your desired background image */
    background-size: cover;
    background-position: center;
    color: #c2097e;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 50px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  .project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 0;
  }
  